@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel
<style type="text/css">
    .current {
        background-color: azure;
    }
</style>

<br />
<br />
<!--Using the table-responsive-sm class to adjust the table size according to the elements-->
<div class="table-responsive-sm">
    <table class="table table-striped; table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th># Pages</th>
            </tr>
        </thead>
        <tbody class="table-success">
            @foreach (var x in Model.Projects)
            {
                <partial name="ProjectSummary" model="x" />
            }
        </tbody>
    </table>
</div>
<!--color change issues-->
<div page-model="@Model.PagingInfo" page-action="Index"
     page-class-enabled ="true" page-url-category="@Model.CurrentCategory"></div>

<div class="text-center">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; ++i)
        {
            //Using btn-outline-success to outline the buttons and current class to highlight the buttons
            <span class="btn btn-outline-dark btn-lg">@Html.ActionLink(i.ToString(), "Index", "Home", new { page = i }, null)</span>

        }
</div>
<br />
<br />
<br />
<br />

<footer class="text-center">
    <p class="font-weight-light; font-italic">####:BookShop:1565 N University Ave:(801)-897-4521:####</p>
</footer>